.editor {
  position: relative;
  font-family: monospace;
  background-color: rgb(0 0 0 / 0.5);
}

.editor textarea,
.editor [glow] {
  margin: 0;
  padding: 0;
  position: absolute;
  inset: 0;
  border: none;

  white-space: pre;
  tab-size: 2;
  font-size: 15px;
  line-height: 1.5;
}

.editor textarea {
  z-index: 1;
  overflow: auto;
  color: transparent;
  background-color: transparent;
  caret-color: gray;
}

.editor [glow] {
  z-index: 0;
  overflow: hidden;
}
