.editor {
  font-family: monospace;
  background-color: color-mix(in srgb, var(--bg), transparent);
  padding: 0.5rem 0.35rem;

  div {
    position: relative;
    height: 100%;
    width: 100%;
  }

  textarea,
  [glow] {
    margin: 0;
    padding: 0;
    position: absolute;
    inset: 0;
    border: none;

    overflow: auto;
    white-space: pre;
    tab-size: 2;
    font-size: 15px;
    line-height: 1.5;
  }

  textarea {
    z-index: 1;
    color: transparent;
    background-color: transparent;
    caret-color: var(--caret);
  }

  [glow] {
    z-index: 0;
    user-select: none;
  }
}
