*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html,
body,
main,
article,
article > section,
.app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  position: relative;
}

main,
article,
article > section,
.app {
  display: flex;
}

section > section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0.125rem;
}

input {
  width: 100%;
}

iframe,
textarea,
pre {
  height: 100%;
  width: 100%;
  resize: none;
}
