.splitter {
  width: 4px;
  margin: 0.125em;
  border-radius: 0.25em;
  font-weight: bolder;
  font-size: xx-large;
  background-color: color-mix(in srgb, var(--caret), transparent 75%);
  color: var(--caret);

  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-align: center;

  cursor: ew-resize;
  user-select: none;
}

.splitter-overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  overflow: clip;
  z-index: 10;

  cursor: ew-resize;
  background-color: #0002;
}
